/*
!/database/
!/models/
!/routes/
!/static/
!/templates/
!/utils/
!/app.py
!/config.py
!/init_db_railway.py
!/requirements.txt
!/Dockerfile
!/README.md
!/.gitignore
!/.github/
!/.gitattributes
**/__pycache__/
**/*.pyc
**/.DS_Store
